.container {
	margin: 10px 200px;
	border: 1px solid black;
	padding: 10px;
	background-color: rgba(15, 200, 20, 0.2);
}

body {
	background-color: rgba(15, 200, 50, 0.05);
	font-family: Arial;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 70%;
}

.pokemon {
	border: 0px solid black;
	border-radius: 10px;
	background-color: rgba(200, 50, 50, 0.2);
	margin-top: 10px;
	padding: 5px;
}

.my {
	background-color: rgba(150, 150, 50, 0.2);
}

.not_my {
	background-color: rgba(200, 50, 50, 0.2);
}

.my button {
	background-color: rgba(255, 20, 0, 0.3);
} 
.not_my button {
	background-color: rgba(10, 255, 0, 0.3);
}

#user {
	border: 2px solid white;
	border-radius: 10px;
	background-color: rgba(150, 40, 100, 0.5);
	width: 40%;
	color: white;
}

#user-box {
	background-color: rgba(100, 0, 0, 0.05);
	width: 40%;
	border-radius: 30px;
	padding: 5px;
}

#user-box button {
	background-color: rgba(150, 40, 100, 0.5);
	color: white;
}
