{% extends 'base.html' %}

{% block title %}
<title>Main page</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/main_page.css' %}">
{% endblock %}

{% block content %}
<section class="container">
    <h1 class="center">Добро пожаловать в мир покемонов!</h1>
    <div id='user-box' class="center">
        <h2 id='user' class='center'>{{username}}</h2>
        <a href="{% url 'auth_sys:logout' %}"><button>Выйти</button></a>
    </div>
    <div class="center">
        <h2 class="">Ваши покемоны:</h2>
        {% for pokemon in pokemons %}
        <div class="pokemon my" id="pokemon-{{pokemon.id}}">
            <h3>{{ pokemon.name }}</h3>
            <a href="{% url 'Pokemons:remove_pokemon' pokemon.id %}">
            <button>Удалить</button>
            </a>
        </div class="">
        {% endfor %}
        <br/><br/>
        <h2>Предлагаем вам:</h2>
        {% for pokemon in other_pokemons %}
        <div class="pokemon not_my" id="pokemon-{{pokemon.id}}">
            <h3>{{ pokemon.name }}</h3>
            <a href="{% url 'Pokemons:add_pokemon' pokemon.id %}">
            <button>Добавить</button>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
<section class="container">
    <br/>
    <div class="center">
        <p>Здесь вы можете найти покемона по имени.<br/>Просто введите его имя и нажмите "Найти и добавить".<br/>(покемонов в базе больше 900)</p>
        <form id="find_pokemon" action="{% url 'Pokemons:find_pokemon'  %}" method="post" name="find_pokemon">
            {% csrf_token %}
            <label for="pokemon_name" id="label_pokemon">Имя покемона:   </label>
            <input type="text" name="pokemon_name" id="pokemon_box">
            <input type="submit" name="submit" id="find" value="Найти и добавить">
            {% if message %}
            <p id="message">{{message}}</p>
            {% endif %}
        </form>
    </div>
</section>
{% endblock %}
